<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Franklin Webber XVI" %>
  </div>
  <div class="field">
    <%= f.label :BlogURL %>
    <%= f.text_field :phone, placeholder: "http://blairbuilds.herokuapp.com/" %>
  </div>
  <div class="field">
    <%= f.label :email %>(this is private, only used for gravatar picture)
    <%= f.text_field :email, placeholder: "skijumpboy69@aol.com" %>
  </div>
  
  <div class="field">
    <%= f.label :twitter %>
    <div class="input-prepend">
      <span class="add-on">@</span>
      <%= f.text_field :twitter, id: "prependedInput", placeholder: "steveklabnik" %>
    </div>
  </div>
  <div class="field">
    <%= f.label :github %>
    <div class="input-prepend">
      <span class="add-on">@</span>
      <%= f.text_field :github, id: "prependedInput", placeholder: "steveklabnik" %>
    </div>
  </div>
<!--   <div class="field">
    <%= f.label :text_editor %><br />
    <%= f.text_field :text_editor %>
  </div> -->
    <div class="field">
      <%= f.label :linkedin_UserName %> 
      <%= f.text_field :linkedin, placeholder: "andersonblair" %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
