<div class="container">
<div class="row"></div>
  <ul class="thumbnails">
    <% @profiles.each_with_index do |profile,i| %>
      <li class="span3 clearfix">
        <div class="thumbnail">
          <%= gravatar_image_tag(profile.email, class: "img-circle") %>
          <h3 class=""><%= link_to name_cleaner(profile.name), profile %></h3>
          <p>
            <ul class="unstyled profile-details">
              <% unless profile.twitter == "" %>
                <li>
                  <%= fancy_twitter_link(profile.twitter) %>
                </li>
                <% else %>
                 <li><small>No tweets</small></li>          
              <% end %>

              <% unless profile.github == "" %>
                  <li>
                    <%= fancy_github_link(profile.github) %>
                  </li>
                  <% else %>
                 <li><small>No github...</small></li>
              <% end %>

              <% unless profile.blog == "" %>
                <li>
                  <%= fancy_web_link(profile.blog) %>
                </li>
                <% else %>
                 <li><small>No blog...</small></li>
              <% end %>

              <% unless profile.linkedin == "" %>
                <li>
                  <%= fancy_linkedin(profile) %>
                </li>
                <% else %>
                 <li><small>No linkedin...</small></li>
              <% end %>

              <% if user_signed_in? %>
              <li class="divider"></li>
              <li class="nav-header">Update:</li>
              <li><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></li>
              <li><%= link_to 'Edit', edit_profile_path(profile) %></li>
              <% else %>
              <% end %>
            </ul>
          </p>
        </div>
      </li>
    <% end %>
  </ul>
</div>
